<h2 align="center">Liste des providers</h2>
<button type="button" class="btn btn-primary">ADD</button>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID </th>
      <th>NAME</th>
      <th>ADRESS</th>
      <th>EMAIL</th>
      <th>UPDATE</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of providers">
      <td>{{provider.id}}</td>
      <td>{{provider.name}}</td>
      <td>{{provider.address}}</td>
      <td>{{provider.email}}</td>
      <td><button type="button" class="btn btn-danger">Update</button></td>
      <td><button type="button" class="btn btn-warning">Delete</button></td>
    </tr>
  </tbody>
</table>


